@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
}

:root {
    --title-font-size: 72px;
    
    --show-background-color: #87B6A7;
    --show-font-color: #D9594C;
    
    --music-background-color: #C3423F;
    --music-font-color: #EDAE49;
    
    --landing-background-color: #DDA448;
    --landing-font-color: #BB342F;
}

html {
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

/***************************
  SECTION STYLING
***************************/

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always
}

section:not(#landing) {
    padding-top: 4rem;
}

section h1 {
    font-size: var(--title-font-size);
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--landing-background-color);
    color: var(--landing-font-color);
}

#landing h1 {
    font-size: calc(var(--title-font-size) * 1.25);
}

#landing #right-title,
#landing #left-title {
    opacity: 0;
    display: inline-block;
}

#landing #left-title {
    margin-right: -1rem;
    animation: slide-right 0.75s ease-in-out 0.75s forwards;
}

#landing #right-title {
    margin-left: -1rem;
    animation: slide-left 0.75s ease-in-out 0.75s forwards;
}

#landing em {
    color: #D62839;
}


#shows-section {
    background-color: var(--show-background-color);
    color: var(--show-font-color);
}

#music-section {
    background-color: var(--music-background-color);
    color: var(--music-font-color);
}

.section-title {
    margin-left: 5rem;
    padding-bottom: 1rem;
}


/***************************
  CAROUSEL STYLING
***************************/
.posts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 60%;
}

.post {
    position: relative;
    height: 100%;
    margin: 0 0.5rem;
    color: white;
}

.post img {
    height: 100%;
}

.image-gradient {
    position: relative;
    height: 100%;
}

.image-gradient:after {
    content:'';
    position: absolute;
    left: 0; 
    top: 0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: linear-gradient(#fffbd525, #b20a2c25);
}

.post,
.image-gradient:after,
.post img {
    border-radius: 10px;
}

.post-uploader {
    z-index:2;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/***************************
  FORM STYLING
***************************/
.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out; 
}

.add-form {
    width: 70%;
    height: 60%;
    background-color: white;
}


/***************************
  ANIMATIONS
***************************/

@keyframes slide-right {
    0% {
       opacity: 0;
       transform: translateX(-15px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
       opacity: 0;
       transform: translateX(15px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
