@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --title-font-size: 72px;
    
    --show-background-color: #87B6A7;
    --show-font-color: #D9594C;
    
    --music-background-color: #C3423F;
    --music-font-color: #EDAE49;
    
    --landing-background-color: #DDA448;
    --landing-font-color: #BB342F;

    --saved-background-color: #616163;
    --saved-font-color: #F7C59F;
}

html {
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

h1,
h2,
h3,
h4 {
    font-family: 'Francois One', sans-serif !important;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
}

/***************************
  SECTION STYLING
***************************/

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

section:not(#landing) {
    padding-top: 4rem;
}

section h1 {
    font-size: var(--title-font-size);
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--landing-background-color);
    color: var(--landing-font-color);
}

#landing h1 {
    z-index: 1;
    font-size: calc(var(--title-font-size) * 1.25);
}
#landing h1 > * {
    font-family: 'Francois One', sans-serif !important;
}


#landing #right-title,
#landing #left-title {
    opacity: 0;
    display: inline-block;
}

#landing #left-title {
    margin-right: -1rem;
    animation: slide-right 0.75s ease-in-out 0.75s forwards;
    -moz-animation: slide-right 0.75s ease-in-out 0.75s forwards;
    -webkit-animation: slide-right 0.75s ease-in-out 0.75s forwards;
    -o-animation: slide-right 0.75s ease-in-out 0.75s forwards;
}

#landing #right-title {
    margin-left: -1rem;
    animation: slide-left 0.75s ease-in-out 0.75s forwards;
    -moz-animation: slide-left 0.75s ease-in-out 0.75s forwards;
    -webkit-animation: slide-left 0.75s ease-in-out 0.75s forwards;
    -o-animation: slide-left 0.75s ease-in-out 0.75s forwards;
}

#landing em {
    color: #D62839;
}

#landing-illustrations {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    left: 0;
}

#landing-illustrations > img {
    z-index: 0;
    height: 75%;
}

#shows-section {
    background-color: var(--show-background-color);
    color: var(--show-font-color);
}

#music-section {
    background-color: var(--music-background-color);
    color: var(--music-font-color);
}

#saved {
    background-color: var(--saved-background-color);
    color: var(--saved-font-color);
}

.section-title {
    margin-left: 5rem;
    padding-bottom: 1rem;
}


/***************************
  CAROUSEL STYLING
***************************/
.posts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 60%;
}

.post {
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    height: 100%;
    width: fit-content;
    margin: 0 0.5rem;
    color: white;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}

button::after {
    display: none;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    
    /* Center the ripple */
    top: 50%;
    left: 50%;
  
    animation: ripple 1s;
    -moz-animation: ripple 1s;
    -o-animation: ripple 1s;
    -webkit-animation: ripple 1s;
    opacity: 0;
}

button:focus:not(:active)::after {
    display: block;
}

.post img {
    height: 100%;
}

.post-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.post:hover .post-info {
    opacity: 1;
}

.post.saved .post-info {
    opacity: 1;
}

.post-info > h3 {
    margin-bottom: 0.25rem;
}

.post-info .icon-tabler-bookmark {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.post-info .icon-tabler-bookmark:hover {
    stroke: #66c17a;
}

.save-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.num-likes {
    position: absolute;
    top: 10px;
    left: 12px;
    display: flex;
    align-items: center;
}

.num-likes:hover .icon-tabler-heart {
    stroke: #d8657a;
}

.like-count {
    position: relative;
    font-size: 20px;
    margin-right: 0.1rem;
    color: #ffffff
}

.post-info .icon-tabler-heart{
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.filter,
.tag {
    position: relative;
    display: inline;
    margin: 0 2px 0.5rem 2px;
    opacity: 0.5;
    color: white;
    border: 0.5px solid white;
    padding: 5px 10px;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.filter:hover,
.tag:hover {
    background-color: #ffffff30;
}

.image-gradient {
    position: relative;
    height: 100%;
    width: max-content;
}

.image-gradient:after {
    content:'';
    position: absolute;
    left: 0; 
    top: 0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: linear-gradient(#fffbd525, #b20a2c25);
}

.post,
.image-gradient:after,
.post img {
    border-radius: 10px;
}

.post-uploader {
    z-index:2;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/***************************
  SAVED POSTS STYLING
***************************/

#saved > p {
    margin-left: 5rem;
    padding-bottom: 1.25rem;
}

#saved-posts p {
    opacity: 0.5;
}

#saved .section-title {
    padding-bottom: 0;
}


/***************************
  FILTERS STYLING
***************************/
.filters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.filters {
    max-width: 50vw;
    margin-top: 0.25rem;
}

.filters > p {
    font-style: italic;
    opacity: 0.5;
    font-size: 14px;
}

.filter {
    margin: 0 0 0.5rem 2px;
}


/***************************
  FORM STYLING
***************************/
#browse-status {
    position: fixed;
    z-index: 5;
    bottom: 25px;
    left: 25px;
    color: white;
}

#browse-status .choices {
    font-size: 14px;
}

#browse-status input[type=text] {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ffffff00;
    transition: border 0.1s ease-in;
}

#browse-status input[type=text]::placeholder {
    color: #ffffff75;
}

#browse-status input[type=text]:focus,
#browse-status input[type=text]:hover {
    border-bottom: 1px solid #ffffff50;
}

.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;  
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 100rem;
    transition: filter 0.2s ease-in-out;
}
.open-btn:hover {
    filter: brightness(0.9);
}

.open-btn::after {
    width: 5px;
    height: 5px;
    margin-top: -2.5px;
    margin-left: -2.5px;
}

.add-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.add-form {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: fit-content;
    min-height: 400px;
    bottom: 45px;
    right: 45px;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

#user,
.form-body {
    display: none;
}

#body-shows {
    display: block;
}

.radio-group {
    display: flex;
    margin: 10px 10px 20px 10px;
}

.radio-group input[type=radio] {
    display:none; 
    margin:10px;
}

.radio-group input[type=radio] + label {
    flex-grow: 1;
    text-align: center;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.radio-group label:first-of-type {
    border-radius: 100px 0 0 100px;
}
.radio-group label:last-of-type {
    border-radius: 0 100px 100px 0;
}

.radio-group input[type=radio]:checked + label { 
    background-image: none;
    background-color:var(--landing-background-color);
}

.radio-group input[type=radio]:not(:checked) + label:hover { 
    background-color: #dfdfdf;
}

.form-body input[type=text] {
    border: 1px solid transparent;
    border-bottom-color: #d0d0d0;
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-body input[type=text]:focus,
.form-body input[type=text]:active {
    outline: none;
}

.add-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.2s ease-in-out;
}

.add-form .close:hover {
    filter: brightness(1.5);
}

.add-form button[type=submit] {
    position: relative;
    border: 1px solid var(--landing-background-color);
    border-radius: 10rem;
    color: var(--landing-background-color);
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 1rem;
}

.add-form button[type=submit]:hover {
    filter: brightness(1.1);
}

.add-form button[type=submit]::after {
    background-color: var(--landing-background-color);
    opacity: 0.5;
}


/***************************
  ANIMATIONS
***************************/

@keyframes slide-right {
    0% {
       opacity: 0;
       transform: translateX(-30px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
       opacity: 0;
       transform: translateX(30px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

  
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}
  
  
