<div id="add-container" class="add-container">
    <div class="add-form">
        <div>
            <h2>Share what you're up to!</h2>
            
            {# Select category #}
            <div id="category" class="radio-group">
                <input type="radio" id="shows-radio" name="category" value="shows" checked/>
                <label for="shows" onclick="showFormBody('shows')" > Shows </label>
                
                <input type="radio" id="music-radio" name="category" value="music"/>
                <label for="music" onclick="showFormBody('music')"> Music </label>
            </div>
        </div>

        {# Body of the form #}
        <div id="body">
            <div id="body-shows" class="form-body">
                <label for="title">Title:</label><br>
                <input type="text" id="title-input" name="title"><br>
                
                <label for="link">Image Link:</label><br>
                <input type="text" id="show-link-input" name="link"><br>

                <label for="tags">Show Tags:</label><br>
                <input type="text" id="show-tag-input" name="tag">
            </div>
            
            <div id="body-music" class="form-body">
                <label for="link">Video Link:</label><br>
                <input type="text" id="music-link-input" name="link">

                <div id="body-music-tags" class="form-body">
                    <label for="tags">Music Tags:</label><br>
                    <input type="text" id="music-tag-input" name="tag">
                </div>
            </div>

        </div>
        <button type="submit" onclick="addPost()">Submit</button>
        <button class="close" onclick="closeForm()"> X </button>
    </div>
</div>
