<div id="add-container" class="add-container">
    <div class="add-form">
        <h2>Share what you're up to!</h2>
        
        {# Select category #}
        <div id="category" class="radio-group">
            <input type="radio" id="shows-radio" name="category" value="shows" onclick="showFormBody('shows')" checked/>
            <label for="shows"> Shows </label>

            <input type="radio" id="music-radio" name="category" value="music" onclick="showFormBody('music')"/>
            <label for="music"> Music </label>
        </div>

        {# Select whether to show username #}
        <div id="mode" class="radio-group">
            <input type="radio" name="mode" value="anonymous" onclick="hideUsername()" checked>
            <label for="anonymous"> Anonymous </label>
            
            <input type="radio" name="mode" value="public" onclick="showUsername()">
            <label for="public"> Add username </label>
        </div>

        <div id="user">
            <label for="username">Username:</label><br>
            <input type="text" id="username-input" name="username"><br>
        </div>

        {# Body of the form #}
        <div id="body">
            <div id="body-shows" class="form-body">
                <label for="title">Title:</label><br>
                <input type="text" id="title-input" name="title"><br>
                
                <label for="link">Image Link:</label><br>
                <input type="text" id="show-link-input" name="link"><br>

                <label for="tags">Show Tags:</label><br>
                <input type="text" id="show-tag-input" name="tag">
            </div>
            
            <div id="body-music" class="form-body">
                <label for="link">Video Link:</label><br>
                <input type="text" id="music-link-input" name="link">

                <div id="body-music-tags" class="form-body">
                    <label for="tags">Music Tags:</label><br>
                    <input type="text" id="music-tag-input" name="tag">
                </div>
            </div>

        </div>
        <button type="submit" onclick="addPost()">Submit</button>
        <button onclick="closeForm()"> Close </button>
    </div>
</div>
