 <!DOCTYPE html>
<html>
<head>
    <title> Add Music </title>
    <script>
        function hideUsername(){
            document.getElementById('user').style.display = 'none';
        }
        function showUsername(){
            document.getElementById('user').style.display = 'block';
        }
    </script>
</head>
<body>

    <form method='POST'>
        <input type="radio" id="anonymous" name="mode" value="anonymous" onclick="hideUsername()"> Anonymous <br>
        <input type="radio" id="anonymous" name="mode" value="anonymous" onclick="showUsername()"> Add My Username! <br>
        <div id='user'>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
        </div>
        <label for="link">Video Link:</label><br>
        <input type="text" id="link" name="link">
        <input type="submit" value="Submit">
    </form> 

</body>
</html> 

