{% extends "base.html" %}

{% block title %} gALLery {% endblock %}

{% block content %}
    <section id="landing">
        <h1>
            <span id="left-title">G</span>
            <em>ALL</em>
            <span id="right-title" >ERY</span>
        </h1>
        <p>Check out what the rest of the world is up to!</p>
        <div id="landing-illustrations">
            <img src="{{ url_for('static', filename='left-illustration-large.svg') }}" alt="illustration of girl taking photo of art"/>
            <img src="{{ url_for('static', filename='right-illustration-large.svg') }}" alt="illustration of girl listening to music"/>
        </div>
    </section>
    
    {% for type, items in posts.items() %}
        <section id="{{ type }}-section">
            <h1 class="section-title">{{ type.upper() }}</h1>
            {{ carousel(type, items) }}
        </section>
    {% endfor %}

    <section id="saved">
        <h1 class="section-title">Before you go...</h1>
        <p> Check the posts you have saved!</p>
        <div id="saved-posts" class="posts">
            <p>No posts were saved :( Look again?</p>
        </div>
    </section>

    {% include "add-form.html" %}
    <button onclick="openForm()" class="open-btn"> 
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="12" r="9" />
            <line x1="9" y1="12" x2="15" y2="12" />
            <line x1="12" y1="9" x2="12" y2="15" />
        </svg>
    </button>
{% endblock %}


{% macro carousel(type, posts=[]) %}
<div class="posts">
    {% for post in posts %}
    <div class="post {{post.tag_conglomerate}}">
            <p class="post-uploader">{{ post.username }}</p>
            <div class="post-info">
                {% if post.title %}
                    <h3>{{ post.title }}</h3>
                {% endif %}
                {% if post.tags %}
                    <div class="tags">
                        {% for tag in post.tags %}
                        <button class="tag" onclick="hideUntaggedPosts('{{type}}', '{{tag}}')">#{{ tag }}</button>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {# Save button #}
                <div class="save-btn">
                    <button onclick="savePost({{ post | safe }})">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="#ffffff" fill-opacity="0" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
                          </svg>
                    </button>
                </div>
            </div>
            <div class="image-gradient">
                <img src="{{ post.link }}"/>
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}
